/*General styles start*/
body {
    background-color: #f9fcfe;
    font-family: 'Lato'; sans-serif;
    color: #291f1a;
}
/*main-nav start*/
#main-nav {
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100; 
}
#main-nav ul {
    text-align: right;
    margin: 0;
}

#main-nav>ul>li{
    display: inline-block;
    list-style: none;
    padding: 15px 20px;
}

#main-nav>ul>li>a{
    color: white;
    text-decoration: none;
}

#main-nav>ul>li>a:hover{
    color: black;
}

/*main-nav stop*/

/*header start*/

header#main-header{
    height: 100vh;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#main-header>div#content{
    left: 0;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    position: absolute;
}

#main-header>div#content>h1#name{
    font-size: 150px;
    margin: 0;
    font-weight: 100;
}

#main-header>div#content>h1#name>span.green{
   color: #1ac056; 
    font-weight: 400;
}

#main-header>div#content>h2#job{
    font-size: 50px;
}
/*header stop*/

/*section about start*/
section#about{
    background-color: #f9fcfe;
    font-weight: 300;
    
}

section#about>h1#about-header{
    text-align: center;
}

section#about>h1#about-header>span.about-span{
     color: #1ac056; 
}

section#about>img#photo{
    max-width: 30%;
    padding: 50px;
    margin-right: 100px;
    float: left;
}

section#about>article.about{
   text-align: left;
   padding: 20px;
   margin-top: 50px;
   margin-bottom: 200px;
}
/*section about stop*/
/*hr start*/
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/*hr stop*/

/*section skills start*/
section#skills{
    clear: left;
    font-weight: 300;
    text-align: center;
}

section#skills>h1#skills-header{
padding: 30px;
}

section#skills>h1#skills-header>span.skills-span{
     color: #1ac056; 
}

section#skills>article.skills{
   padding: 10px;    
}

section#skills>div#icon-box>p.icon{
 display: inline-block;
 padding: 20px;
 margin: 40px;
}

/*section skills stop*/

/*section portfolio start*/
section#portfolio>h1#portfolio-header{
    text-align: center;
}

section#portfolio>h1#portfolio-header>span.portfolio-span{
     color: #1ac056; 
}

section#portfolio>div.portfolio{
    font-size: 0;
}

section#portfolio>div.portfolio>div.port-item{
    display: inline-block;
}

section#portfolio>div.portfolio>div.port-item>p.port-mask{
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

section#portfolio>div.portfolio>div#port-item-1{
    background-image: url(../img/portfolio1.jpg);
    width: 33.3%;
}

section#portfolio>div.portfolio>div#port-item-2{
    background-image: url(../img/portfolio2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33.3%;
}

section#portfolio>div.portfolio>div#port-item-3{
    background-image: url(../img/portfolio4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 33.3%;
}
/*section portfolio stop*/

/*section contact start*/
section#contact{
    background-color: #213b50;
    color: white;
    width: 100%;
}

section#contact>div.data{
    width: 50%;
    text-align: left;
    margin-left: 100px;
}

section#contact>div.data>h1#contact-header{
    text-align: left;
}
section#contact>div.data>p#contact-data>a#mail{
    color: #1ac056; 
    
}

section#contact>div.data>h1#contact-header>span.contact-span{
     color: #1ac056; 
}
/*section contact stop*/

/*General styles stop*/

/*Navigation start*/

/*Navigation stop*/